<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action Comics</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <h1 class="title">Action Comics</h1>
        <div class="issue-card">
            <div class="cover">
                <img
                    src="<%= locals.currentIssue.image.medium_url %>" alt="Action Comics Cover">
                </div>
                <div class="info">
                    <h2>Latest Release:</h2>
                    <h3 class="issue-title">Action Comics #<%=
                                locals.currentIssue.issue_number %></h3>
                    <p><%= locals.currentIssue.store_date %>
                    </p>
                    <div class="description"><%- locals.currentIssue.description %></div>
                    <a href="<%= locals.currentIssue.site_detail_url %>"
                        target="_blank"><button>More Info</button></a>
                </div>
        </div>
    </div>
</body>

</html>